/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #0f0f0f;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
}

/* Buttons */
.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  .login-btn,
  .signup-btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}

/* Login button */
.login-btn {
  background: none;
  color: white;
}

.login-btn:hover {
  background: white;
  color: #0f0f0f;
}

/* Start Now button */
.signup-btn {
  background: #ffcc00;
  color: #0f0f0f;
}

.signup-btn:hover {
  background: #e6b800;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .nav-buttons {
    margin-top: 10px;
  }
}
